<div class="navbar">
  <section class="container" layout="row" layout-sm="column" layout-align="end center" layout-wrap>
    <div layout="row" layout-align="start center" flex>
      <md-button class="md-primary" a href="#/user">User Settings</md-button>
      <md-button class="md-primary" a href="#/tasks">My Tasks</md-button>
      <span flex></span>
    </div>
    <p id="welcome" class="md-primary lead">Logged in as {{uc.userObject.userName}}</p>
    <md-button class="md-warn" ng-click="uc.userService.logout()">Log Out</md-button>
  </section>

</div>