<div class="navbar">
  <!-- <div class="container" layout= "row" layout-align="space-between center">
    <ul>
      <li><a href="#/user">User Settings</a></li>
      <li><a href="#/tasks">My Tasks</a></li>
      <li><a ng-click="uc.userService.logout()">Log Out</a></li>
    </ul>
  </div>
</div> -->


<section class="container" layout="row" layout-sm="column" layout-align="end center" layout-wrap>
    <div layout="row" layout-align="start center" flex>
      <md-button class="md-primary" a href="#/user">User Settings</md-button>
    <md-button class="md-primary" a href="#/tasks">My Tasks</md-button>
    <span flex></span>
  </div>
    <md-button class="md-warn" ng-click="uc.userService.logout()">Log Out</md-button>
  </section>

</div>