<div class="navbar">
    <section class="container" layout="row" layout-sm="column" layout-align="end center" layout-wrap>
        <div layout="row" layout-align="start center" flex>
            <md-button class="md-primary" a href="#/user">User Settings</md-button>
            <md-button class="md-primary" a href="#/tasks">My HOMR</md-button>
            <md-button class="md-primary" a href="#/future">Future Tasks</md-button>
            <md-button class="md-primary" a href="#/completed">Completed</md-button>
            <md-button class="md-primary" a href="#/photo">Photo Gallery</md-button>
            <span flex></span>
        </div>
        <p id="welcome" class="md-primary lead">Logged in as {{tc.userService.userObject.userName}}</p>
        <md-button class="md-warn" ng-click="tc.userService.logout()">Log Out</md-button>
    </section>
</div>

<div class="container" ng-init="tc.genHomr()">
    <h1>
        <u>Your Completed Tasks:</u>
    </h1>
    <p>All Tasks you marked as complete in HOMR</p>
    <md-button class="md-raised md-primary" ng-click="tc.userService.sendAllCompletedEmail(tc.myTasksObj.tasks)">Send Email of HOMR History</md-button>

    <md-content class="md-padding" layout-xs="column" layout="row" ng-repeat="x in tc.myTasksObj.tasks | orderBy:'task_completion_date'"
        ng-if="x.task_completion_date">
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card id="completed">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{ x.task_name }}</span>
                        <span class="md-subhead">{{x.task_description}} This should be done every {{x.freq_day}} days</span>
                        <p>Original due date: {{x.task_due_date| date: YYYY-MM-DD}}</p>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media"><img ng-show="{{x.task_url}}" ng-src="{{x.task_url}}"></img>
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <p><strong>Completed with Homr on: {{x.task_completion_date| date: YYYY-MM-DD}}</strong></p>
                </md-card-actions>
            </md-card>
        </div>
    </md-content>
</div>