<div ng-include="'views/partials/nav.html'" ng-controller="UserController as uc"></div>
<div class="container">
  <h1>
    <u>Your tasks:</u>
  </h1>

<ang-accordion one-at-a-time="true" icon-position="right" close-icon-url="images/right-icon.png" open-icon-url="images/down-icon.png">
  <collapsible-item item-title="Late Tasks" id="late">
    <hr>
    <div ng-repeat="x in tc.myTasksObj.tasks" ng-hide="x.taskcompleted">
        <h2><u>{{ x.task_name }}</u></h2>
        <p>{{x.task_description}}</p>
        <p>Frequency: Every {{x.freq_day}} days</p>
        <p>Task Created on: {{x.task_creation_date}}</p>
        <md-button class="md-raised md-primary" id={{x.mytask_id}} ng-click="tc.markComplete($index)">Mark Complete</md-button>
        <hr>
    </div>
  </collapsible-item>
  <collapsible-item item-title="Approaching Tasks" id="approaching" >
    <hr>
    <div ng-repeat="x in tc.myTasksObj.tasks" ng-hide="x.taskcompleted">
        <h2><u>{{ x.task_name }}</u></h2>
        <p>{{x.task_description}}</p>
        <p>Frequency: Every {{x.freq_day}} days</p>
        <p>Task Created on: {{x.task_creation_date}}</p>
        <md-button class="md-raised md-primary" id={{x.mytask_id}} ng-click="tc.markComplete($index)">Mark Complete</md-button>
        <hr>
    </div>
  </collapsible-item>
  <collapsible-item item-title="Completed Tasks">
    <hr>
    <div ng-repeat="x in tc.myTasksObj.tasks" ng-show="x.taskcompleted">
      <h2><u>{{ x.task_name }}</u></h2>
      <p>{{x.task_description}}</p>
      <p>Task Created on: {{x.task_creation_date}}</p>
      <p>Completed on: {{ x.task_completion_date }}</p>
      <hr>
    </div>
  </collapsible-item>
</ang-accordion>
</div>
</div>