<div ng-include="'views/partials/nav.html'"></div>
<script src="https://static.filestackapi.com/v3/filestack.js"></script>
<div class="container" ng-init="uc.getAppliances()">
    <h1>
        <u>Intake Form</u>
    </h1>
    
    <ang-accordion one-at-a-time="true" ng-repeat="i in uc.appliancesObj.appliances">
        <collapsible-item item-title="{{i.appliance_name}}">
            <md-switch ng-model="i.isChecked" ng-change="uc.gatherAppliances(i)" class="md-primary" aria-label="{{i.appliance_name}}"></md-switch>
            <div ng-show="i.isChecked">
                <div ng-repeat="x in uc.myRelTasksObj.tasks" ng-if="x.appliance_id == i.appliance_id">
                    <hr>
                    <h2>
                        <u>{{ x.task_name }}</u>
                    </h2>
                    <p>{{x.task_description}}</p>
                    <p>When did you last {{ x.task_name }}?
                        <md-datepicker ng-model="x.task_firstcompleteddate" ng-change="uc.gatherDate(x)" md-placeholder="Enter date" required="true"></md-datepicker>
                    </p>
                    <div ng-show="x.task_firstcompleteddate">
                        <md-button class="md-raised md-primary" id="manage-client-avatar-container" ng-click="uc.pickAvatar($event, x)">Insert Image</md-button>
                    </div>
                </div>
            </div>
        </collapsible-item>
    </ang-accordion>
    <md-button ng-click="uc.redirect()" class="md-raised md-primary">Generate your Homr Schedule!</md-button>
</div>
</div>