<div class="navbar">
    <section class="container" layout="row" layout-sm="column" layout-align="end center" layout-wrap>
        <div layout="row" layout-align="start center" flex>
            <md-button class="md-primary" a href="#/user">User Settings</md-button>
            <md-button class="md-primary" a href="#/tasks">My HOMR</md-button>
            <md-button class="md-primary" a href="#/future">Future Tasks</md-button>
            <md-button class="md-primary" a href="#/completed">Completed</md-button>
            <md-button class="md-primary" a href="#/photo">Photo Gallery</md-button>
            <span flex></span>
        </div>
        <p id="welcome" class="md-primary lead">Logged in as {{uc.userObject.userName}}</p>
        <md-button class="md-warn" ng-click="uc.userService.logout()">Log Out</md-button>
    </section>
</div>

<script src="https://static.filestackapi.com/v3/filestack.js"></script>
<div class="container" ng-init="uc.getAppliances()">
    <h1>
        <u>Intake Form</u>
    </h1>
    <div>
    <h2><strong>What is <span id="homrhelper">"Help Me HOMR"</span>?</strong></h2>
    <p>Use "Help Me HOMR" if you don't know when you last completed the task! HOMR will autogenerate a recommended due date
        for you.</p>
    </div>
    <md-content>
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="i in uc.appliancesObj.appliances">
                <div class="md-list-item-text">
                    <h2><strong>{{i.appliance_name}}</strong></h2>
                    <div ng-show="i.isChecked">
                        <md-content class="md-padding" layout-xs="row" layout="row" ng-repeat="x in uc.myRelTasksObj.tasks" ng-if="x.appliance_id == i.appliance_id">
                            <div flex-xs flex-gt-xs="50" layout="row">
                                <md-card id="intake" >
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">{{ x.task_name }}</span>
                                            <span class="md-subhead">{{x.task_description}}</span>
                                        </md-card-title-text>
                                    </md-card-title>
                                    <md-card-actions layout="row" layout-align="end center" ng-hide="x.hasChosenDate">
                                            <span class="md-subhead">Last completed:</span>
                                            <div ng-hide = "x.task_firstcompleteddate">
                                            <md-datepicker ng-model="x.task_firstcompleteddate" ng-change="uc.gatherDate(x)" md-placeholder="Enter date" md-max-date="uc.userService.currentDate"></md-datepicker>
                                        </div>
                                        <md-button class="md-raised" id="homrhelper" ng-click="uc.genHomrDate(x)">Help me Homr!</md-button>
                                    </md-card-actions>
                                    <md-card-actions ng-show="x.hasChosenDate">
                                            <span class="md-subhead">Optional:</span>
                                        <md-button class="md-raised md-primary" id="manage-client-avatar-container" ng-click="uc.addImg($event, x)" layout="row" layout-align="end center">Upload Image</md-button>
                                        </div>
                                    </md-card-actions>
                                </md-card>
                            </div>
                        </md-content>
                    </div>
                
                <md-switch ng-model="i.isChecked" ng-click="uc.gatherAppliances(i)" class="md-primary" aria-label="{{i.appliance_name}}"></md-switch>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
    <md-button ng-click="uc.redirect()" class="md-raised" id="homrhelper">Take me to HOMR!</md-button>
</div>